# Read Data

In [20]:
import pandas as pd
pd.set_option('display.float_format', '{:.5f}'.format)

# Load the dataset
df = pd.read_csv('../data/star_classification.csv')

In [21]:

print("Duplicate count:", df.duplicated().sum())
print("Null count:", df.isnull().sum().sum())

Duplicate count: 0
Null count: 0

In [22]:
# featurre selection
features = ['alpha','delta','u','g','r','i','z','redshift','class']
X_features = ['alpha','delta','u','g','r','i','z','redshift',]
df = df[features]

# Convert 'class' to integer labels
map_class = {
    'GALAXY': 0,
    'QSO': 1,
    'STAR': 2
}
df['class'] = df['class'].map(map_class)

# replace -9999 (missing value) with the median
df = df.replace(-9999, df.median())

df

,alpha,delta,u,g,r,i,z,redshift,class
0,135.68911,32.49463,23.87882,22.27530,20.39501,19.16573,18.79371,0.63479,0
1,144.82610,31.27418,24.77759,22.83188,22.58444,21.16812,21.61427,0.77914,0
2,142.18879,35.58244,25.26307,22.66389,20.60976,19.34857,18.94827,0.64419,0
3,338.74104,-0.40283,22.13682,23.77656,21.61162,20.50454,19.25010,0.93235,0
4,345.28259,21.18387,19.43718,17.58028,16.49747,15.97711,15.54461,0.11612,0
...,...,...,...,...,...,...,...,...,...
99995,39.62071,-2.59407,22.16759,22.97586,21.90404,21.30548,20.73569,0.00000,0
99996,29.49382,19.79887,22.69118,22.38628,20.45003,19.75759,19.41526,0.40490,0
99997,224.58741,15.70071,21.16916,19.26997,18.20428,17.69034,17.35221,0.14337,0
99998,212.26862,46.66037,25.35039,21.63757,19.91386,19.07254,18.62482,0.45504,0
99999,196.89605,49.46464,22.62171,21.79745,20.60115,20.00959,19.28075,0.54294,0

In [23]:
min_max = df.agg(['min', 'max'])
min_max

,alpha,delta,u,g,r,i,z,redshift,class
min,0.00553,-18.78533,10.99623,10.49820,9.82207,9.46990,9.61233,-0.00997,0
max,359.99981,83.00052,32.78139,31.60224,29.57186,32.14147,29.38374,7.01124,2